/*
ctrl + F5更新来显示
 */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.context .title{
    text-align: center;
    padding: 15px 0;
}
.context .article{
    display: flex;
    flex-direction: row;
}

.context .article .blank1{
    width: 30%;
    flex-grow: 1;
}

.context .article .blank2{
    width: 60%;
    flex-grow: 1;
    border-top: 2px solid #555555;
    font-size: 20px;
    /*font-family: 宋体;*/
}
.context .article .blank3{
    width: 10%;
    flex-grow: 1;
}

.context .article .blank1 h2, .context .article .blank1 ul{
    position: relative;
    width: 300px;
    left: 50px;
    top: 100px;
}
.context .article .blank1 h2{
    font-size: 2em;
    padding: 20px 40px;
    /*background-color: #555555;*/
    background-color: #4169E1;
    color: white;
}
.context .article .blank1 ul{
    position: relative;
    list-style: none;
    /*background-color: darkgrey;*/
    background-color: #B0C4DE;
    z-index: 1;
}
.context .article .blank1 ul li a{
    position: relative;
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 40px;
    z-index: 1;
}
.context .article .blank1 li a:hover{
    /*background-color: #555555;*/
    background-color: 	#00BFFF;
    color: #F08080;
}


.context .article .blank2{
    position: relative;
    top: 40px;
}
.context .article .blank2 h2{
    text-align: center;
    padding: 10px;
}
.context .article .blank2 p{
    text-align: justify;
}